body{ 
    background-color: rgb(29, 25, 25);
}

.header{
border: 10px solid black ;
        border-radius: 20px;

background-color: gray;
color: white;
margin: auto;
padding: 20px;
text-align: center;
font-family: Arial, sans-serif;
}

#Welcome-Para{
     border: 10px solid black ;
        border-radius: 20px;
    margin-top: 20px;

}

p{
    font-size: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: grey;
    color: white;
    margin: 0px;
    padding: 0px;
}

#AIList{
    border: 10px solid black ;
        border-radius: 20px;

    background-color: gray;
color : white;
    margin: 20px ;
    width: 300px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

#AIList a{
    color: inherit;
    text-decoration: none;
}

#AIList a:hover{
    color: grey;
}

#contact{
    border: 10px solid black ;
            border-radius: 20px;

    background-color: gray;
color: white;
    margin: 20px;
    width: 300px;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

#contact-message{
    margin: 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.separate{
    display: flex;
    justify-content: space-between;
}

.description{
    border: 10px solid black ;
            border-radius: 20px;

    background-color: gray;
    margin: 20px ;
    width: 600px;
    padding: 20px;
    font-family: Arial, sans-serif;
    height: 300px;
}

.image{
    border: 10px solid black ;
            border-radius: 20px;

    margin-top: 30px;
    height: 300px;
    width: 400px;
    height: 300px;
    padding: 20px;
    font-family: Arial, sans-serif;
    transform: translateX(-40px);
}

.creator{
    border: 10px solid black ;
            border-radius: 20px;

    margin-top: 20px;
    margin: 20px ;
    width: 200px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/*
Added an Id for this specfic creator heading so that the text
could fit in one line rather than many diff ones. - Rhys 
*/
#MidjourneyTitle{
    width: 300px;
}

#claudeImage{
    width: 600px;
    height: 200px; 
    transform: translate(-40px, 30px);
}


