.header{
border: 10px solid black ;
background-color: #f2f2f2;
margin: auto;
padding: 20px;
text-align: center;
font-family: Arial, sans-serif;
}

#Welcome-Para{
    margin-top: 20px;

}

p{
    font-size: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    
    margin: 0px;
    padding: 0px;
}

#AIList{
    border: 10px solid black ;
    margin: 20px ;
    width: 300px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

#AIList a{
    color: inherit;
    text-decoration: none;
}

#AIList a:hover{
    color: grey;
}

#contact{
    border: 10px solid black ;
    margin: 20px;
    width: 300px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.separate{
    display: flex;
    justify-content: space-between;
}

.description{
    border: 10px solid black ;
    margin: 20px ;
    width: 600px;
    padding: 20px;
    font-family: Arial, sans-serif;
    height: 300px;
}

.image{
    border: 10px solid black ;
    margin-top: 30px;
    height: 300px;
    width: 400px;
    height: 300px;
    padding: 20px;
    font-family: Arial, sans-serif;
    transform: translateX(-40px);
}

.creator{
    border: 10px solid black ;
    margin-top: 20px;
    margin: 20px ;
    width: 200px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/*
Added an Id for this specfic creator heading so that the text
could fit in one line rather than many diff ones. - Rhys 
*/
#MidjourneyTitle{
    width: 300px;
}

