.header{
border: 10px solid black ;
background-color: #f2f2f2;
margin: auto;
padding: 20px;
text-align: center;
font-family: Arial, sans-serif;
}

#Welcome-Para{
    margin-top: 20px;
}

p{
    font-size: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    
    margin: 0px;
    padding: 0px;
}

#AIList{
    border: 10px solid black ;
    margin: 20px ;
    width: 300px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

#contact{
    border: 10px solid black ;
    margin: 20px;
    width: 300px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.separate{
    display: flex;
    justify-content: space-between;
}